---
layout: layouts/base.njk
templateClass: tmpl-post
---
<h1>{{ title }}</h1>

{% if date %}
<div class="byline">
    <time datetime="{{ date.toISOString() }}">{{ date.toDateString().split(' ').slice(1).join(' ') }}</time>
    by
    <a href="https://nolanlawson.com" rel="author">Nolan Lawson</a>
</div>
{% endif %}

{% if image %}
<img src={{ image }} alt="{{ alt }}" />
{%  endif %}

{{ content | safe }}

<hr>
<ul>
  {%- set nextPost = collections.posts | getNextCollectionItem(page) %}
  {%- if nextPost %}<li>Next: <a href="{{ nextPost.url | url }}">{{ nextPost.data.title }}</a></li>{% endif %}
  {%- set previousPost = collections.posts | getPreviousCollectionItem(page) %}
  {%- if previousPost %}<li>Previous: <a href="{{ previousPost.url | url }}">{{ previousPost.data.title }}</a></li>{% endif %}
</ul>
